@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-button-background: #29214a;
  --color-card: #998ccf;
  --color-dark-bg: #120f24;
  --color-light-bg: #faf7fc;
}

:root {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #faf7fc; */
    background-color: #120f24;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark {
    background-color: #120f24;
}
