@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&amp;display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-button-background: #5b508a;
    --color-card: #c2b7e8;
    --color-dark-bg: #2b254b;
    --color-light-bg: #f0ebf7;
    --color-catalog-card: #42376d;
    --color-stats: #6a5a9c;
    --color-theme-toggle-dark: #42376f;
    --shadow-catalog-card: 4px 4px 15px 16px rgba(98, 85, 143, 0.18);
    --shadow-completion-card: 2px 2px 15px 4px rgba(98, 85, 143, 0.15);
    --animate-notify: notify 3s ease-in-out;
    @keyframes notify {
        0% {
            transform: translateX(10vw);
        }
        40% {
            opacity: 1;
            transform: translateY(0);
            transform: translateX(0);
        }
        100% {
            transform: translateY(-100vh);
            opacity: 0;
        }
    }
}

:root {
    font-family: Sora, system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #ffffffde;
    background-color: var(--color-dark-bg);
    transition: all 0.3s ease-in-out;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark {
    background-color: #120f24;
    --color-button-background: #29214a;
    --color-card: #998ccf;
    --color-dark-bg: #120f24;
    --color-light-bg: #faf7fc;
    --color-catalog-card: #1c1736;
    --color-stats: #3b2e6b;
    --color-theme-toggle-dark: #1c1738;
    --shadow-catalog-card: 4px 4px 15px 16px rgba(66, 55, 109, 0.2);
    --shadow-completion-card: 2px 2px 15px 4px rgba(66, 55, 109, 0.2);
}

a:hover,
button:hover {
    box-shadow: var(--shadow-completion-card);
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 2px #3b2e6b;
}
